{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="receiverInfo">
  <a href="{% url 'overview' %}"> <i class="material-icons">arrow_back</i></a>
  <!-- <img src="{% static 'img/benutzerA.png' %}"> -->
  <img src="{{img}}">
  <div>{{receiver}}</div>

</div>

{% if request.user.is_authenticated %}
<div id="messageContainer">
  {% for message in messages %}
  <div class="clearfix">
    {% if message.author.username == request.user.username %}
    <div class="flipped background_author">
      {% else %}
      <div class="background_receiver">
        {% endif %}
        <!-- <span class="grey">[{{ message.created_at | date:"d.m.Y" }}]</span> -->
        <div>{{message.text}}</div>
        {% if message.author.username != request.user.username %}
        <div class="time">{{message.time_created|time:"H:i"}}</div>
        {% else %}
        <div class="time">{{message.time_created|time:"H:i"}}<img class="tick" src="{% static 'img/doubleTick.png' %}">
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  window.currentUser = "{{ request.user.username }}";
  let receiver = "{{ receiver }}"; 
</script>

<div class="messageInput">
  <!-- Your content goes here -->
  <form onsubmit="sendMessage(); return false;" method="post">
    <input id="csrfToken" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

      <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField" />
      <label class="mdl-textfield__label" for="messageField">Deine Nachricht ...</label>

    </div>
    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      id="sendButton">

      <i class="material-icons">send</i>
    </button>
  </form>

</div>

<script>
  window.addEventListener("load", function () {
    setTimeout(() => {
      let messageContainer = document.getElementById('messageContainer');
      messageContainer.scrollTo({
        top: messageContainer.scrollHeight,
        behavior: 'smooth'
      });
    }, 50)

  });

</script>

{% else %}
<h1>Nicht eingeloggt</h1>
<p>Du bist nicht eingeloggt. Bitte logge dich ein.<br>
  Bitte klicke <a href="/login/">hier</a></p>
{% endif %}
{% endblock %}

<!-- <a target="_blank" href="https://icons8.com/icon/11849/h%C3%A4kchen">Häkchen</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/21741/doppel-tick">Doppel Tick</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/QMuDJby5eC7X/konto-testen">Test Account</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/ef0O0NnMUsze/weiblicher-benutzer-eingekreist">Weiblicher Benutzer eingekreist</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/chTcwK0JGVkR/name">Name</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/yRfnu0udBzMp/unterhaltung">Unterhaltung</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/63980/gast-m%C3%A4nnlich">Gast Männlich</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/108639/benutzer">Benutzer</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->