{% extends "base.html"%}

{%block content%}
{% if wrongPassword %}
<p>Benutzername oder Passwort ist falsch!</p>
{% endif %}
<h1>Login</h1>
      <!-- Your content goes here -->
      <form action="/login/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="redirect" value="{{ redirect }}"/>
            <div class="login">
                 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     <input class="mdl-textfield__input" name="username" type="text" id="1"/>
                     <label class="mdl-textfield__label" for="sample3">Name</label>
                </div>
                 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 <input
                    class="mdl-textfield__input"
                    name="password"
                    type="password"
                    id="2"
                 />
                  <label class="mdl-textfield__label" for="sample3">Password</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Login
                 </button>
         </div>
      </form>
      <div class="link">
         Neu bei MyChat? <br>
         <a href="/signin/">Konto erstellen</a>
      </div>

      {% endblock %}
    

