{% extends "base.html"%}
{% load static %}
{% block content %}
<div class="communicate">
  Wie schön, dass Du da bist! Wähle Dir einen Chat-Partner aus und texte ihn zu.
</div>
<div id="usersOverview">
  {% for user in users_with_profiles %}
  <div class="profile" onclick="chooseChat('{{ user.id }}')">
     
      {% if user.userprofile.base64_image %}
      <img src="{{user.userprofile.base64_image}}">
      {% else %}
      <img src="{% static 'img/benutzerA.png' %}">
     
      {% endif %}
      <div>{{ user.username }}</div>
  </div>
  {% endfor %}
  
</div>

<input type="hidden" id="csrfTokenChoose" name="csrfTokenChoose" value="{{ csrf_token }}">

{% endblock %}

  <!-- <a target="_blank" href="https://icons8.com/icon/123636/gesch%C3%A4ftsfrau">Geschäftsfrau</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>  -->
  <!-- <a target="_blank" href="https://icons8.com/icon/4FCNwGpP4JDb/m%C3%A4nnlicher-benutzer">Männlicher Benutzer</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->