{% extends "base.html"%}
{% load static %}
{%block content%}

<div id="usersOverview">

    
        {% for user in allUsers %}
        <div class="profile">
          <img src="{% static 'img/benutzerA.png' %}"><br> {{user.username}}
        </div>
        {%endfor%}

</div>
{% endblock %}

  <!-- <a target="_blank" href="https://icons8.com/icon/123636/gesch%C3%A4ftsfrau">Geschäftsfrau</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>  -->
  <!-- <a target="_blank" href="https://icons8.com/icon/4FCNwGpP4JDb/m%C3%A4nnlicher-benutzer">Männlicher Benutzer</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->