{% extends "base.html"%}

{%block content%}
<a href="{% url 'login' %}"> <i class="material-icons">arrow_back</i></a>
<h1>Signin</h1>
      <!-- Your content goes here -->
      <form onsubmit="signin(); return false;" method="POST">
         <input id="csrfTokenSignin" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      
        <input type="hidden" name="redirect" value="{{ redirect }}"/>
            <div class="login">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" name="username" type="text" id="username"/>
                    <label class="mdl-textfield__label" for="username">Username</label>
               </div>
                 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     <input class="mdl-textfield__input" name="email" type="email" id="email"/>
                     <label class="mdl-textfield__label" for="email">email</label>
                </div>
                
                 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 <input
                    class="mdl-textfield__input"
                    name="password"
                    type="password"
                    id="password"
                 />
                  <label class="mdl-textfield__label" for="password">Password</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input
                       class="mdl-textfield__input"
                       name="repeat_password"
                       type="password"
                       id="repeat_password"
                    />
                     <label class="mdl-textfield__label" for="respeat_password">Repeat Password</label>
                   </div>
                   {% if wrongRepeatPassword %}
                        <div class="error">Die Passwortfelder stimmen nicht überein!</p>
                     {% endif %}
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Sign in
                 </button>
         </div>
      </form>

{%endblock%}