

 @media (min-width: 800px){

  .page-content {
    padding: 100px 100px;
  }
  /* .grey {
    color: rgba(0, 0, 0, 0.5);
    padding: 5px;
  } */
  /* .login{
    display: flex;
    flex-direction: column;
  } */
    button {
    width: 200px;
 }
 }


 @media ( min-width: 250px){
  .page-content {
    padding: 50px 20px;
  }
  button {
    width: 100px;
 }
 .login{
  display: flex;
  flex-direction: column;
}
 .link {
  margin-top: 20px;
 }
 .grey {
  color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.error {
  color: red;
}

.material-icons {
  cursor: pointer;
}

#usersOverview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.profile {
  width: 100px;
}
 }